<!-- _includes/header.html -->
<header class="site-header" role="banner">
  <a class="brand" href="{{ '/' | relative_url }}"><span class="dot"></span> {{ site.author.enterprise }} </a>
  <nav aria-label="Navigation principale">
    <button class="menu-toggle" aria-expanded="false" aria-controls="nav">Menu</button>
    <ul id="nav" class="nav">
      <li><a href="{{ '/#services' | relative_url }}">Services</a></li>
      <li><a href="{{ '/#realisation' | relative_url }}">Réalisations</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/#contact' | relative_url }}">Contact</a></li>
      <li><button class="btn cta" data-calendly>Réserver un créneau</button></li>
      <li><button class="theme-toggle" aria-label="Basculer le thème"> test🌓</button></li>
    </ul>
  </nav>
</header>
