{%- assign full_url = site.url | append: site.baseurl -%}
{%- assign same_as = "" -%}
{%- for entry in site.social -%}
  {%- assign url = entry[1] -%}
  {%- if url and url != "" -%}
    {%- unless same_as == "" -%}{%- assign same_as = same_as | append: "," -%}{%- endunless -%}
    {%- assign same_as = same_as | append: '"' | append: url | append: '"' -%}
  {%- endif -%}
{%- endfor -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "{{ site.brand | escape }}",
  "description": "{{ site.description | strip_newlines | escape }}",
  "url": "{{ full_url | default: '/' }}",
  "image": "{{ site.logo_path | relative_url }}"{% if site.contact.phone %},
  "telephone": "{{ site.contact.phone | escape }}"{% endif %}{% if site.contact.email %},
  "email": "{{ site.contact.email | escape }}"{% endif %}{% if site.contact.address %},
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.contact.address | escape }}",
    "addressCountry": "FR"
  }{% endif %}{% if same_as != "" %},
  "sameAs": [{{ same_as }}]{% endif %}
}
</script>
